[submodule "Bikes"]
	path = Bikes
	url = https://github.com/ContosoBikeRental/Bikes.git
[submodule "ReservationEngine"]
	path = ReservationEngine
	url = https://github.com/ContosoBikeRental/ReservationEngine.git
[submodule "Gateway"]
	path = Gateway
	url = https://github.com/ContosoBikeRental/Gateway.git
[submodule "Users"]
	path = Users
	url = https://github.com/ContosoBikeRental/Users.git
