[submodule "Bikes"]
	path = Bikes
	url = https://github.com/ContosoBikeRental/Bikes.git
[submodule "Gateway"]
	path = Gateway
	url = https://github.com/ContosoBikeRental/Gateway.git
[submodule "Users"]
	path = Users
	url = https://github.com/ContosoBikeRental/Users.git
[submodule "DevSite"]
	path = DevSite
	url = https://github.com/ContosoBikeRental/DevSite.git
[submodule "Billing"]
	path = Billing
	url = http://github.com/contosobikerental/Billing
[submodule "Notification"]
	path = Notification
	url = http://github.com/contosobikerental/Notification
[submodule "Reservation"]
	path = Reservation
	url = http://github.com/contosobikerental/Reservation
